@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-cover text-white">
    <div class="py-5 text-center">
        <h1 class="display-4 font-weight-bold">FoodHome</h1>
        <p class="font-italic mb-0">Най-добрата платформа за доставяне на храна по-домовете</p>
        @if(User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="py-3 text-center">
                <a asp-action="All" asp-controller="Restaurant" role="button" class="btn btn-primary px-5">See All Restaurants</a>
            </div>
        }
        
    </div>

</div>

<section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                <i class="fa fa-pizza-slice medium-icon" style="color: #fd810d;"></i>
                <span id="anim-number-pizza" class="counter-number"></span>
                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">2800</span>
                <p class="counter-title text-dark">Meals Ordered</p>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                <i class="fa fa-heart medium-icon" style="color: #fd810d;"></i>
                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">980</span>
                <span class="counter-title text-dark">Happy Clients</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                <i class="fa fa-truck-moving medium-icon" style="color: #fd810d;"></i>
                <span class="timer counter alt-font appear" data-to="810" data-speed="7000">810</span>
                <span class="counter-title text-dark">Orders Completed</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                <i class="fa fa-user medium-icon" style="color: #fd810d;"></i>
                <span class="timer counter alt-font appear" data-to="600" data-speed="7000">600</span>
                <span class="counter-title text-dark">Clients Served</span>
            </div>
            <!-- end counter -->
        </div>
    </div>
</section>