@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-cover text-white">
    <div class="py-5 text-center">
        <h1 class="display-4 font-weight-bold">FoodHome</h1>
        <p class="font-italic mb-0">Най-добрата платформа за доставяне на храна по-домовете</p>
        <div class="py-3 text-center"> 
            <a asp-action="All" asp-controller="Home" role="button" class="btn btn-primary px-5">See All Restaurants</a>
        </div>
        
    </div>

</div>

<section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                <i class="fa fa-pizza-slice medium-icon" style="color: #fd810d;"></i>
                <span id="anim-number-pizza" class="counter-number"></span>
                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">2800</span>
                <p class="counter-title text-dark">Meals Ordered</p>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                <i class="fa fa-heart medium-icon" style="color: #fd810d;"></i>
                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">980</span>
                <span class="counter-title text-dark">Happy Clients</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                <i class="fa fa-truck-moving medium-icon" style="color: #fd810d;"></i>
                <span class="timer counter alt-font appear" data-to="810" data-speed="7000">810</span>
                <span class="counter-title text-dark">Orders Completed</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                <i class="fa fa-user medium-icon" style="color: #fd810d;"></i>
                <span class="timer counter alt-font appear" data-to="600" data-speed="7000">600</span>
                <span class="counter-title text-dark">Clients Served</span>
            </div>
            <!-- end counter -->
        </div>
    </div>
</section>

@*<div class="container py-5">
    <h2 class="h3 font-weight-bold text-dark">Some demo content</h2>
    <div class="row">
        <div class="col-lg-10 mb-4">
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        </div>
        <div class="col-lg-8">
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>*@
