@model AddRestaurantViewModel;

@{
    ViewData["Title"] = "Add Restaurant";
}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <form class="requires-validation" id="registerForm" method="post" enctype="multipart/form-data">
                        <h2 class="text-center"><strong>@ViewData["Title"]</strong></h2>
                        <div asp-validation-summary="ModelOnly" class="text-white"></div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="PasswordRepeat" class="form-control" placeholder="Password (repeat)">
                            <span asp-validation-for="PasswordRepeat" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                            <span asp-validation-for="PhoneNumber" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Address" class="form-control" placeholder="Address">
                            <span asp-validation-for="Address" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="City" class="form-control" placeholder="City">
                            <span asp-validation-for="City" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Country" class="form-control" placeholder="Country">
                            <span asp-validation-for="Country" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <label for="profilePicture">Upload Profile Picture</label>
                            <input asp-for="ProfilePicture" accept="image/gif, image/jpeg, image/png" class="text-white" id="profilePicture">
                            <span asp-validation-for="ProfilePicture" class="text-white"></span>
                        </div>
                        <div class="form-group">
                            <img alt="Uploaded Image" placeholder="Upload Profile Picture" accept="image/gif, image/jpeg, image/png" style="display:none;">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Add</button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@section Styles{
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
}