@{
    ViewData["Title"] = "Home Page";
}

@{
    this.ViewData["Title"] = "Home Page";
}

<section>
    <div class="head">
        <h1 class="text-dark"><b>Hello, Admin!</b></h1>
        <hr class="hr hr-blurry" />
        <div class="card-body p-4 text-black">
            <div class="mb-5">
                <p class="lead fw-normal mb-1">
                    <b>Your only role is as administrator!</b>
                    <br>
                    If you want to use other functionalities you should use other account.
                    <br>
                    Being administrator to Arrnow Construct means you can delete accounts and also make clients constructors.
                </p>

            </div>
        </div>
        <hr class="hr hr-blurry" />
    </div>
</section>
