@using FoodHome.Core.Models.Dish;
@model List<OrderDishView>;


<h1 class="text-center text-dark" style="margin-bottom: 50px">Shopping Cart</h1>

<div class="shopping-cart">

    @if (Model!= null && Model.Count > 0)
    {
        
        string restaurantId = Model.Select(d => d.RestaurantId).ToList()[0];
        
        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>

        @foreach (var dish in Model)
        {
            <partial name="_CartDishPartial" model="@dish" />
        }

        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">00.00</div>
            </div>
            <div class="totals-item">
                <label>Tax (5%)</label>
                <div class="totals-value" id="cart-tax">00.00</div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">00.00</div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">0.00</div>
            </div>
        </div>


        <a asp-action="Payment" asp-controller="Payment" class="checkout">Checkout</a>
        <a asp-controller="Restaurant" asp-action="All" id="continue" class="btn btn-warning text-black cont">Continue Shopping</a>
    }
    else
    {
        <h2 class="text-center text-black"> Your cart is empty!</h2>
        <a asp-controller="Restaurant" asp-action="All" id="continue" class="btn btn-warning text-black">Continue Shopping</a>
    }


</div>

@section Scripts
    {
    <script src="~/js/cart.js" asp-append-version="true"></script>
}
@section Styles{
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
}
